@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.taskbar-hover {
  @apply hover:bg-[#272727] transition-colors duration-100;
}

.calc-btn {
  background-color: #3c3c3c;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.calc-btn:hover {
  background-color: #323232;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
